@-webkit-keyframes imgMov {
    /*第一个动画*/
    0% {
        transform: translateX(0);
    }
    15% {
        transform: translateX(0);
    }
    /*第二个动画*/
    20% {
        transform: translateX(-588px);
    }
    35% {
        transform: translateX(-588px);
    }
    /*第三个动画*/
    40% {
        transform: translateX(-1176px);
    }
    55% {
        transform: translateX(-1176px);
    }
    /*第四个动画*/
    60% {
        transform: translateX(-1764px);
    }
    75% {
        transform: translateX(-1764px);
    }
    /*第五个动画*/
    80% {
        transform: translateX(-2352px);
    }
    95% {
        transform: translateX(-2352px);
    }
    /*第一个动画*/
    100% {
        transform: translateX(-2940px);
    }
}

/*控制点*/

@-webkit-keyframes span1Mov {
    0% {
        background: transparent;
    }
    19% {
        background: transparent;
    }
    20% {
        background: black;
        opacity: 1;
    }
    100% {
        background: black;
        opacity: 1;
    }
}

/*设置第二个控制点*/

@-webkit-keyframes span2Mov {
    0% {
        background: black;
        opacity: 1;
    }
    19% {
        background: black;
        opacity: 1;
    }
    20% {
        background: transparent;
    }
    39% {
        background: transparent;
    }
    40% {
        background: black;
        opacity: 1;
    }
    100% {
        background: black;
        opacity: 1;
    }
}

/*第三个控制点*/

@-webkit-keyframes span3Mov {
    0% {
        background: black;
        opacity: 1;
    }
    39% {
        background: black;
        opacity: 1;
    }
    40% {
        background: transparent;
    }
    59% {
        background: transparent;
    }
    60% {
        background: black;
        opacity: 1;
    }
    100% {
        background: black;
        opacity: 1;
    }
}

/*第四个控制点*/

@-webkit-keyframes span4Mov {
    0% {
        background: black;
        opacity: 1;
    }
    59% {
        background: black;
        opacity: 1;
    }
    60 {
        background: transparent;
    }
    79% {
        background: transparent;
    }
    80% {
        background: black;
        opacity: 1;
    }
    100% {
        background: black;
        opacity: 1;
    }
}

/*第五个控制点*/

@-webkit-keyframes span5Mov {
    0% {
        background: black;
        opacity: 1;
    }
    79% {
        background: black;
        opacity: 1;
    }
    80% {
        background: transparent;
    }
    100% {
        background: transparent;
    }
}

* {
    margin: 0;
    padding: 0;
}
html{
  min-width: 1240px;
}

/*头部*/

header {
    width: 100%;
    height: 135px;
    margin: 0 auto;
}

/*上导航*/

.nav1 {
    width: 100%;
    height: 28px;
    line-height: 28px;
    background: rgb(0, 155, 114);
}
.navTop {
    width: 1180px;
    text-align: right;
    color: rgb(232, 242, 246);
    padding: 0;
    font-size: 0px;
    margin: 0 auto;
}
.navTop span {
    font-size: 13px;
    border-left: 1px solid rgb(71, 180, 136);
    padding: 6px 16px;
}
.navTop span:hover {
    background: rgb(73, 167, 115);
    cursor: pointer;
}

/*下导航*/

.nav2 {
    width: 1180px;
    height: 80px;
    line-height: 80px;
    background: #fff;
    text-align: center;
    margin: 0 auto;
}
.navBottom {
    width: 98%;
    padding: 0;
    font-size: 0px;
    margin: 0 auto;
    text-align: right;
}
.navBottom::after {
    content: "";
    display: block;
    clear: both;
}
.navBottom img {
    float: left;
    padding: 30px 0;
}
.navBottom a {
    text-decoration: none;
    font-size: 16px;
    color: gray;
    margin: 0 20px;
    padding-bottom: 5px;
}
.navBottom a:nth-of-type(3) {
    border-bottom: 2px solid rgb(42, 173, 111);
}
.navBottom a:hover {
    color: black;
    cursor: pointer;
}
.navBottom a:nth-of-type(8) {
  position: relative;
}
.navBottom .car{
  display: inline-block;
  width: 36px;
  height: 38px;
  background: url(../../img/shop/bg.png) -128px -144px no-repeat;
}
.navBottom sup{
  display: inline-block;
  text-align: center;
  font-size: 13px;
  color: #fff;
  font-weight: bold;
  line-height: 35px;
  background: rgb(57, 160, 88);
  width: 30px;
  height: 30px;
  position: absolute;
  top: -25px;
  right: -20px;
  border-radius: 30px;
}



/*内容部分*/
.wrap{
  width: 100%;
  background: -webkit-linear-gradient(top,#fff 0,#f2f2f2 100%);
  background: linear-gradient(to bottom,#fff 0,#f2f2f2 100%);
}
.content {
  width: 1180px;
  margin: 0 auto;
}
.content::after{
  content: "";
  display: block;
  clear: both;
}



/*内容部分第一行*/

.first a {
    text-decoration: none;
    font-size: 15px;
    color: #7b7b7b;
}
/*产品简介 左部分*/

.left {
    width: 588px;
    float: left;
}
.leftBrief {
    width: 588px;
    overflow: hidden;
    margin: 0 auto;
}
.scroll::after {
    content: "";
    display: block;
    clear: both;
}
.scroll {
    width: 3528px;
    float: left;
}
.scroll img {
    width: 588px;
    height: 588px;
    overflow: hidden;
    float: left;
    animation: imgMov 10s linear infinite;
}

/*控制点*/

.controll {
    width: 588px;
    text-align: center;
}
.controll span {
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid rgb(42, 173, 111);
    display: inline-block;
    margin: 0 15px;
    padding: 12px;
}
.controll span img {
    width: 50px;
    height: 50px;
    overflow: hidden;
}
.controll span:nth-child(1) {
    animation: span1Mov 10s linear infinite;
}
.controll span:nth-child(2) {
    animation: span2Mov 10s linear infinite;
}
.controll span:nth-child(3) {
    animation: span3Mov 10s linear infinite;
}
.controll span:nth-child(4) {
    animation: span4Mov 10s linear infinite;
}
.controll span:nth-child(5) {
    animation: span5Mov 10s linear infinite;
}

/*产品简介 右部分*/

.right {
    width: 588px;
    float: left;
}
.text {
    width: 100%;
    margin-top: 20px;
}
.text p:nth-child(1) {
    font-size: 25px;
    color: rgb(57, 57, 57);
    font-weight: 400;
}
.text p:nth-child(2) {
    font-size: 13px;
    color: #878787;
    margin-top: 10px;
}
.text p:nth-child(3) {
    font-size: 24px;
    color: rgb(255, 51, 0);
    margin-top: 15px;
}

/*文字下面的按钮部分*/

.list {
  width: 100%;
  margin-top: 30px;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding-bottom: 12px;
}

.list_1{
  width: 100%;
}
.list_1::after {
    content: "";
    display: block;
    clear: both;
}
.list_1 p{
  display: block;
  height: 74px;
  line-height: 74px;
  color: rgb(127, 127, 127);
  font-size: 14px;
  float: left;
}

.list_1_1 span{
  display: inline-block;
  width: 25%;
  height: 30px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: #646464;
  font-size: 14px;
  float: left;
}
.list_1_1 span:nth-child(1){
  margin-left: 7%;
}
.list_1_1 span:nth-child(2){
  margin: 0 15px;
}
.list_1_1 span:nth-of-type(3){
  border-color: rgb(42, 173, 111);
}
.list_1_1 span:nth-of-type(4){
  margin-top: 10px;
  margin-left: 7%;
}

.list_2{
  width: 100%;
  margin-top: 10px;
  font-size: 0;
}
.list_2 span:nth-child(1){
  line-height: 32px;
  font-size: 14px;
  color: rgb(127, 127, 127);
}
.list_2 span:nth-child(2){
  display: inline-block;
  width: 25%;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgb(42, 173, 111);
  text-align: center;
  border-radius: 5px;
  color: #646464;
  font-size: 14px;
  margin-left: 7%;
}


/*第二块*/

.list1 {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px dashed rgb(182, 182, 182);
}
.list1::after {
    content: "";
    display: block;
    clear: both;
}
.list1 p{
  display: inline-block;
  line-height: 42px;
  height: 106px;
  float: left;
  font-size: 14px;
  color: rgb(127, 127, 127);
}
.list1_1{
  float: left;
  margin-left: 7%;
}
.list1_1 span:nth-of-type(2n+1){
  display: inline-block;
  line-height: 42px;
  margin-left: 10px;
  width: 180px;
  font-size: 14px;
  color: rgb(127, 127, 127);
}
.list1_1 span:nth-of-type(2n+1):hover{
  color: rgb(42, 173, 111);
  cursor: pointer;
}
.list1_1 span:nth-of-type(2n){
  display: inline-block;
  width: 86px;
  height: 26px;
  border: 1px solid rgb(42, 173, 111);
  line-height: 42px;
  border-radius: 3px;
  line-height: 26px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  color: rgb(127, 127, 127);
}
.list1 img{
  width: 40px;
  border: 1px solid rgb(226, 226, 226);
  vertical-align: top;
}
.marginTop{
  margin-top: 15px;
}




/*第三块*/

.list2 {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px dashed rgb(182, 182, 182);
    font-size: 14px;
}
.list2::after{
  content: "";
  display: block;
  clear: both;
}
.list2 p{
  display: block;
  height: 116px;
  line-height: 32px;
  float: left;
  display: inline-block;
  color: rgb(127, 127, 127);
}
.list2_1{
  float: left;
  margin-left: 7%;
}
.baoxian1{
  display: inline-block;
  width: 166px;
  height: 29px;
  line-height: 29px;
  border: 1px solid rgb(226, 226, 226);
  font-size: 14px;
}
.baoxian1 span:nth-child(1){
  display: inline-block;
  width: 32px;
  height: 29px;
  text-align: center;
  color: rgb(235, 184, 95);
  border-right: 1px solid rgb(226, 226, 226);
}
.baoxian1 span:nth-child(2){
  display: inline-block;
  text-align: center;
  text-indent: 5px;
}
.baoxian2{
  display: inline-block;
  width: 231px;
  height: 29px;
  line-height: 29px;
  border: 1px solid rgb(255, 51, 0);
  font-size: 14px;
}
.baoxian2 span:nth-child(1){
  display: inline-block;
  width: 32px;
  height: 29px;
  text-align: center;
  color: rgb(255, 51, 0);
  border-right: 1px solid rgb(226, 226, 226);
}
.baoxian2 span:nth-child(2){
  display: inline-block;
  text-indent: 5px;
}
.baoxian2 span:nth-child(3){
  color: rgb(255, 51, 0);
}
.baoxian2 span:nth-child(4){
  text-decoration: line-through;
}
.marginTop1{
  margin-top: 10px;
  margin-bottom: 15px;
}
.marleft{
  margin-left: 5px;
}
.list2 a:nth-last-child(1){
  text-decoration: none;
  margin-left: 10px;
  color: rgb(42, 173, 111);
}
.list2 a:nth-last-child(2){
  color: #393939;
}
.list2 a:nth-last-child(2):hover{
  text-decoration: none;
  color: rgb(42, 173, 111);
}



/*第四块*/
.list3{

}
.list3_1{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 0;
  padding: 15px 0 10px 0;
}
.list3_1 span:nth-child(1){
  font-size: 14px;
  color: rgb(127, 127, 127);
}
.list3_1 span:nth-child(2){
  display: inline-block;
  width: 185px;
  height: 19px;
  background: url(../../img/shop/16.png) -19px 0 #f30 no-repeat;
  margin-left: 7%;
  color: #fff;
  font-size: 14px;
  text-indent: 21px;
  line-height: 19px;
  padding: 3px 2px;
}

.list3_1 a{
  font-size: 14px;
  text-decoration: none;
  color: #2aad6f;
  margin-left: 25px;
}

.list3_2{
  width: 100%;
  height: 50px;
  padding: 20px 12px;
  border: 1px solid #E2E2E2;
  background: white;
  font-size: 0;
}
.number{
  display: inline-block;
  width: 145px;
  height: 36px;
  border: 1px solid rgb(204, 204, 204);
  line-height: 36px;
  font-size: 0;
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 30px;
  vertical-align: top;
}
.number span:nth-child(1){
  font-size: 14px;
  display: inline-block;
  width: 40px;
  height: 36px;
  background: rgb(240, 240, 240);
}
.number span:nth-child(2){
  display: inline-block;
  font-size: 14px;
  width: 65px;
  height: 36px;
}
.number span:nth-child(3){
  display: inline-block;
  font-size: 14px;
  width: 40px;
  height: 36px;
  cursor: pointer;
}
.number:hover{
  border-color: #2aad6f;
}

.buycar{
  display: inline-block;
  width: 25%;
  background: #d4eee1;
  color: #1f8657;
  border: 2px solid #d4eee1;
  text-align: center;
  padding: 12px 8px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
}
.buycar:hover{
  color: white;
  background: #2aad6f;
  border-color: #2aad6f;
  cursor: pointer;
}
.buy{
  display: inline-block;
  width: 25%;
  text-align: center;
  color: #fff;
  border: 2px solid #fb5e5e;
  background-color: #fb5e5e;
  padding: 12px 8px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 18px;
  cursor: pointer;
}



.list3_3{
  width: 100%;
  line-height: 30px;
  font-size: 13px;
  color: #7b7b7b;
  text-align: center;
  padding: 25px 0 55px 0;
}
.list3_3 a{
  text-decoration: none;
  color: #7b7b7b;
  vertical-align: top;
}
.list3_3 span{
  vertical-align: top;
}
.list3_3 img{
  margin-left: 6%;
}




/*商品详情部分*/
.details{
  width: 95%;
  margin: 0 auto;
}
.details span{
  height: 55px;
  padding: 0 40px;
  display:inline-block;
  color: #575757;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
  cursor: pointer;
}
.details span:nth-child(1){
  background: #2aad6f;
  color: #FFF;
}

/*图片部分*/
.down{
  width: 100%;
  font-size: 0;
  border-top: 2px solid rgb(243, 243, 243);
  padding-top: 2px;
}
.down img{
  width: 100%;
}




/*尾部*/

footer {
    width: 100%;
    background: rgb(246, 246, 246);
    padding-bottom: 60px;
}

.bottom1 {
    width: 95%;
    margin: 0 auto;
    padding-top: 70px;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-bottom: 30px;
}
.bottom1::after {
    content: "";
    display: block;
    clear: both;
}
.bottom1 ul {
    float: left;
    list-style: none;
    margin-right: 11%;
}
footer .bottom1 .title {
    font-size: 17px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.bottom1 ul li {
    margin: 10px 0;
    font-size: 15px;
    color: rgb(57, 57, 57);
    cursor: pointer;
}
.bottom1 ul a{
  text-decoration: none;
}
.bottom1Right {
    float: right;
    text-align: center;
}
.bottom1Right p:nth-of-type(1) {
    font-size: 30px;
    color: rgb(57, 57, 57);
    margin-top: 20px;
    margin-bottom: 10px;
}
.bottom1Right p:nth-of-type(1) {
    color: rgb(57, 57, 57);
}

/*尾部第二行*/

.bottom2 {
    width: 95%;
    height: 32px;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
}
.bottom2::after {
    content: "";
    display: block;
    clear: both;
}

/*第二行左边*/

.bottom2Left {
    display: inline-block;
    font-size: 13px;
    color: gray;
    line-height: 25px;
}
.guohui {
    width: 24px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    background: url(../../img/icon-identification.png) 0 0;
    vertical-align: middle;
}
.guohui:hover {
    background: url(../../img/icon-identification.png) 24px 0;
    cursor: pointer;
}

/*第二行右边*/

.bottom2Right {
    float: right;
}
.bottom2Right span {
    display: inline-block;
    color: gray;
    font-size: 14px;
    line-height: 32px;
    vertical-align: top;
}
.weibo {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(../../img/weibo1.png);
}
.weixin {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(../../img/weixin1.png);
    position: relative;
}
.aliPay {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url(../../img/aliPay1.png);
    position: relative;
}

/*二维码*/

.qrcode-wx {
    width: 148px;
    height: 211px;
    background: url(../../img/qrcode-wx.jpg);
    position: absolute;
    top: -215px;
    left: -58px;
    display: none;
}
.qrcode-fwc {
    width: 148px;
    height: 211px;
    background: url(../../img/qrcode-fwc.jpg);
    position: absolute;
    top: -215px;
    left: -58px;
    display: none;
}

/*hover效果*/

.weibo:hover {
    cursor: pointer;
    background: url(../../img/weibo2.png);
}
.weixin:hover {
    cursor: pointer;
    background: url(../../img/weinxin2.png);
}
.weixin:hover .qrcode-wx {
    display: block;
}
.aliPay:hover {
    cursor: pointer;
    background: url(../../img/aliPay2.png);
}
.aliPay:hover .qrcode-fwc {
    display: block;
}


/*在线咨询*/
.ask{
  width: 100%;
}
.ask img{
  position: fixed;
  top: 45%;
  right: 35px;
  cursor: pointer;
}

/*回到顶部栏*/
.navscroll{
  position: fixed;
  bottom: 0;
  right: 35px;
  width: 121px;
  height: 100px;
  text-align: right;
  font-size: 0;
}
.navscroll a{
  display: inline-block;
  width: 40px;
  height: 37px;
}
.navscroll .back-top{
  background: rgb(232, 232, 232) url(../../img/backtop-icon.png) center no-repeat;
}
.navscroll .back-top:hover{
  width: 121px;
  text-align: right;
  background: url(../../img/backtop1.png) center no-repeat;
}
.feedback{
  margin-top: 5px;
  background: rgb(232, 232, 232) url(../../img/feedback-icon.png) center no-repeat;
}
.navscroll .feedback:hover{
  width: 121px;
  text-align: right;
  background: url(../../img/feedback1.png) center no-repeat;
}




/*屏幕适配*/

@media only screen and (min-width:1350px) and (max-width:1500px) {
  .bottom1{
    width: 80%;
  }
  .bottom2{
    width: 80%;
  }
  .details{
    width: 80%;
  }
}
@media only screen and (min-width:1500px) {
  .bottom1{
    width: 70%;
  }
  .bottom2{
    width: 70%;
  }
  .details{
    width: 70%;
  }
}
