<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <form action="/dologin" method="post">
        <input type="text" name="name" placeholder="name">
        <br>
        <br>
        <input type="text" name="password" placeholder="password">
        <br>
        <br>
        <input type="submit" value="提交">
    </form>
</body>
</html>