html{
  min-width: 1043px;
}



/*第一个  动画*/
@-webkit-keyframes move1{
    from{
      transform: translateX(1403px) translateY(-350px);
    }
    to{
      transform: translate(0);
    }
  }
@-webkit-keyframes move2{
      from{
        transform: translateX(-1403px) translateY(350px);
      }
      to{
        transform: translate(0);
      }
    }
/*第四个动画*/
@-webkit-keyframes move3{
      from{
         opacity: 0;
      }
      to{
      opacity: 1;
      }
    }
/*  5   */
@-webkit-keyframes move4{
      0%{
        transform: translate(0);
      }
      25%{
        transform: translateY(10px);
      }
      40%{
        transform: translateY(-15px);
      }
      60%{
        transform: translate(0);
      }
      80%{
        transform: translateX(10px);
      }
      95%{
        transform: translateX(-10px);
      }
      100%{
        transform: translate(0px);
      }

    }
    @-webkit-keyframes move5{
          from{
             opacity: 1;
          }
          to{
          opacity: 0;
          }
        }

  @-webkit-keyframes move6{
    /*显示第一张图片*/
     0%{
        transform: translateY(0);
      }
      25%{
        transform: translateY(0);
      }
      /*移动至第二张图*/
      30%{
        transform: translateY(-500px);
      }
      55%{
        transform: translateY(-500px);
      }
      /*移动至第三张图片*/
      60%{
        transform: translateY(-1000px);
      }
      75%{
        transform: translateY(-1000px);
      }
     /*移动显示第一张图片*/
     100%{
       transform: translateY(-1500px);
     }
  }
  @-webkit-keyframes move7{
    /*显示第一张图片*/
     0%{
        transform: translateY(-1500px);
      }
      25%{
        transform: translateY(-1500px);
      }
      /*移动至第二张图*/
      30%{
        transform: translateY(-1000px);
      }
      55%{
        transform: translateY(-1000px);
      }
      /*移动至第三张图片*/
      60%{
        transform: translateY(-500px);
      }
      75%{
        transform: translateY(-500px);
      }
     /*移动显示第一张图片*/
     100%{
       transform: translateY(0px);
     }
  }
*{
  padding: 0;
  margin: 0;
}
/*头部*/
header{
    width: 100%;
    position: fixed;
    z-index: 100;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.7);
}
nav{
  width: 1180px;
  margin: 0 auto;
  text-align: center;
}
nav::after{
  content: "";
  display: block;
  clear: both;
}
/*logo*/
nav img{
  display: inline-block;
  float: left;
  margin-right: 50px;
  margin-left: 20px;
}
/*参数*/
.argument{
  float: left;
  padding: 20px;
  margin-right: 50px;
}
.argument a{
  display: inline-block;
  text-decoration: none;
  color: #a0a0a0;
  vertical-align: middle;
  margin: 0 20px;
}
.argument a:nth-child(2){
  color: #3c3c3c;
}
.argument a:hover{
  color: #3c3c3c;
}
/*购买*/
.buy{
  float: right;
  padding: 15px;
  text-align: center;
  margin-right: 20px;
}
.buy a{
  display: inline-block;
  text-decoration: none;
  font-size: 17px;
  background: #52a763;
  color: #fff;
  border-radius: 4px;
  margin-right: 10px;
  line-height: 35px;
}
.buy a:nth-child(1){
  width: 100px;
  height: 35px;
  }
.buy a:nth-child(2){
    width: 130px;
    height: 35px;
    }


/*内容部分*/
.content{
  width: 100%;
}
/*第一个*/
.cont1{
  width: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;

}
.cont1 img:nth-child(1){
  width: 1403px;
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  /*animation:  move1 2s linear backwards 1 running;*/
  transform: translateX(1403px) translateY(-350px);
  transition: all 2s linear;
}
.cont1 img:nth-child(2){
  /*width: 100%;*/
  position: absolute;
  bottom: 540px;
  right: 45%;
}
.cont1 img:nth-child(3){
  width: 1403px;
  height: 450px;
  position: absolute;
  bottom: 0;
  left: 0;
  /*animation:  move2 2s linear backwards 1 running;*/
  transform: translateX(-1403px) translateY(350px);
  transition: all 2s linear;
}
.cont1:hover img{
  transform: translateX(0) translateY(0);
}
/*第二个*/
.cont2{
  width: 100%;
  height: 1200px;
  margin: 0 auto;
  background: #000;
  text-align: center;
  position: relative;
  color: #fff;
}
.cont2_1{
  width: 100%;
  text-align: center;
  padding-top: 100px;
  position: top;
  left: 0;
}
.cont2_1 p{
  margin: 30px 25%;
  line-height: 28px;
}
.cont2_1 p:nth-child(1){
  font-size: 38px;
}
.cont2_1 p:nth-child(2){
  font-size: 16px;
  color: #9f9f9f;
}
.cont2_3{
  width: 100%;
  height: 867px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.cont2_3 img{
  width: 100%;
  height: 867px;
  display: inline-block;
}

.cont2_2 a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width:64px;
  height: 40px;
  padding-top: 10px;
  background: url(../../img/product/photo/sec-9-pagination.jpg) left bottom no-repeat;
}
.cont2_2 a:nth-child(1){
  position: absolute;
  bottom: 0;
  left:48%;
  z-index: 5;
}
.cont2_2 a:hover{
  background: url(../../img/product/photo/sec-9-pagination-active.jpg) left bottom no-repeat;
}
.cont2_2 a:nth-child(2){
  position: absolute;
  bottom: 0;
  left: 52%;
  z-index: 5;
}
/*第三行*/
.cont3{
  width: 100%;
  height: 600px;
  text-align: center;
  background: #000;
  padding-top: 100px;
  position: relative;
}
.cont3_1{
  width: 50%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.cont3_1:hover img{
  transition: 1s;
}
.cont3_1:hover img{
  transform: scale(1.05);
}
.cont3_2{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.cont3_2 a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width:64px;
  height: 40px;
  padding-top: 10px;
  background: url(../../img/product/photo/sec-9-pagination.jpg) left bottom no-repeat;
}
.cont3_2 a:hover{
  background: url(../../img/product/photo/sec-9-pagination-active.jpg) left bottom no-repeat;
}
.cont3_2 a:nth-child(1){
  position: absolute;
  bottom: 0;
  left:42%;
  z-index: 5;
}
.cont3_2 a:nth-child(2){
  position: absolute;
  bottom: 0;
  left:46%;
  z-index: 5;
}
.cont3_2 a:nth-child(3){
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 5;
}
.cont3_2 a:nth-child(4){
  position: absolute;
  bottom: 0;
  left: 54%;
  z-index: 5;
}
.cont3_2 a:nth-child(5){
  position: absolute;
  bottom: 0;
  left: 58%;
  z-index: 5;
}
/* 4  */
.cont4{
  width: 100%;
  text-align: center;
  background: #000;
}
.cont4 .cont2_1{
  color: #fff;
}
.cont4:hover img{
  animation: move3 4s linear backwards 1 running;
}
.cont4 span{
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #787878;
}




/* 5  */
.cont5{
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.cont5 .cont2_1 p:nth-child(1){
  margin-bottom:  35px;
}
.cont5 .cont2_1 p{
  color: #787878;
  margin: 2px;
}
.cont5 img{
  display: inline-block;
  margin-left: 40%;
  width: 65%;
}
.cont5 img:nth-of-type(1){
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.cont5 img:nth-of-type(2){
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  animation:  move4 1.5s linear backwards infinite paused;
  animation-delay: 1s;
}
.cont5 img:nth-of-type(3){
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.cont5 img:nth-of-type(4){
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 12;
  animation:  move5 1s linear forwards 1 paused;
}
.cont5:hover img:nth-of-type(2){
  animation-play-state: running;
}
.cont5:hover img:nth-of-type(4){
  animation-play-state: running;
}

.cont5 span{
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #787878;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 15;
}





/* 6*/
.cont6{
  width: 100%;
  text-align: center;
  padding-top: 150px;
  background: #f7f7f7;
  height: 874px;
  overflow: hidden;
}
.cont6 img{
  transition: all 1s linear;
}
.cont6:hover img{
  transform: translateY(20px);
}


/*7*/
.cont7{
  width: 100%;
  height: 900px;
  text-align: center;
}
.cont7 .cont2_1 p:nth-child(1){
  margin-bottom:  35px;
}
.cont7 .cont2_1 p{
  color: #787878;
  margin: 2px;
}
.meiyan{
  padding: 100px;
  color: #787878;
  padding-bottom: 10px;
}
.cont7_1{
  width: 1000px;
  height: 500px;
  text-align: center;
  font-size: 0;
  position: relative;
  margin: 0 auto;
  position: relative;
}
.cont7_L{
  display: inline-block;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.cont7_L img{
  animation:  move6 10s linear forwards infinite running;
}
.cont7_R{
  display: inline-block;
  width: 500px;
  height: 500px;
  overflow: hidden;
}
.cont7_R img{
  animation:  move7 10s linear forwards infinite running;
}
.cont7img{
  width: 87px;
  height: 87px;
  background: url(../../img/product/photo/sec-13-switch-button.png);
  position: absolute;
  bottom: -43.5px;
  right: 458.5px;
  z-index: 50;
  cursor: pointer;
}
.cont7_2{
  width: 1000px;
  margin: 0 auto;
  padding-top: 10px;
  color: #a9a9a9;
  font-size: 16px;
}
.cont7_2 span:nth-child(1){
float: left;
  display: inline-block;
  width: 500px;
  text-align: left;
}
.cont7_2 span:nth-child(2){
  display: inline-block;
float: right;
  width: 500px;
  text-align: right;
}



/* 8  */
.cont8{
  width: 100%;
  height: 593px;
  margin-top: 150px;
}
.cont8 img{
  width: 100%;
  height: 100%;
}
/*9*/
.cont9{
  width: 100%;
  height: 360px;
  position: relative;
  overflow: hidden;
  margin-bottom: 200px;
  margin-top: 0;
}
.cont9 img{
  width: 100%;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
}
.cont9 .text1{
  position: absolute;
  top: 150px;
  left: 2%;
  z-index: 15;
  font-weight: lighter;
}
.cont9 .text2{
  position: absolute;
  top: 150px;
  right: 2%;
  z-index: 15;
  font-weight: lighter;
}
.cont9 p{
  font-size: 34px;
  padding-bottom: 10px;
}
.cont9 a{
  text-decoration: none;
  font-size: 20px;
  color: #787878;
}
.cont9 .mask1{
  width: 100%;
  height: 180px;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateY(0px);
  transition: all 1s linear;
}
.cont9:hover .mask1{
  transform: translateY(-180px);
}
.cont9 .mask2{
  width: 100%;
  height: 180px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  transform: translateY(0px);
  transition: all 1s linear;
}
.cont9:hover .mask2{
  transform: translateY(180px);
}
.cont9:hover p{
  color: #fff;
}
.cont9:hover a{
  color: #fff;
}
/*尾部*/
footer{
  width: 100%;
  font-size: 10px;
  padding-bottom: 50px;
}
footer p{
  margin: 0 auto;
  padding: 10px 20%;
  line-height: 20px;
  color: #787878;
}
